body, html, #root {
  height:100%;
}

body {
  margin: 0;
  font-family: 
    Consolas,
    Courier,
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;

  font-size: calc(10px + 2vmin);
  color: white;
}

.sprite {
  display: inline-block;
  width: 50%;
}

.spin {
  animation: spin infinite 20s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
